<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
 <div class="Produto-card">
        <h1>{{ Titulo }}</h1>
    <div class="Produto-card">
        <a href="/produtos"><img src="../static/imagens/Produtos.png"></a>
        <p>Lista de Produtos</p>
    </div>
    <div class="Produto-card">
        <a href="/cadastro"><img src="../static/imagens/Cadastro.png"></a>
        <p>Cadastro de Produtos</p>
    </div>
</div>
</body>
</html>